.calculator {
  width: 200px;
  height: 200px;
  border: 1px solid rgb(225, 188, 188);
  border-radius: 10px;
  background: pink;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}

.firstbutton,
.secondbutton {
  border: 1px solid pink;
  border-radius: 5px;
  margin: 5px;
 
}

.firstbutton, .secondbutton:hover {
  color:blue;
}


.answer {
  width: 50px;
  height: 20px;
  background-color:white;
  margin: 15px;
  
}
